# Игнорирование виртуального окружения
venv/
.env

# Игнорирование базы данных
db.sqlite3

# Игнорирование медиафайлов (если не нужно их хранить в репозитории)
media/

# Игнорирование файлов PyCharm
.idea/
*.iml

# Игнорирование файлов Python
*.pyc
__pycache__/

# Игнорирование файлов отладки и покрытия
coverage.jpg
.coverage
htmlcov/

# Игнорирование временных файлов
*.swp
*.swo
*.log

# Игнорирование файлов окружения
.env

# Игнорирование директории со статическими файлами (если они генерируются)
static/

# Игнорирование миграций (если они генерируются автоматически)
migrations/*.py
!migrations/__init__.py
